* {
    margin: 0;
    padding: 0;
    /* box-sizing:border-box; */
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box
}

html,
body {
    height: 100%;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/p404.png'), #151729
}

#container .content {
    padding: 1rem;
    max-width: 600px;
    text-align: center
}

#container .content h2 {
    font-size: 18vw;
    color:#fff;
    line-height: 7rem
}

#container .content h4 {
    position: relative;
    font-size: 1.5rem;
    margin: 10px 0 20px;
    color: #111;
    background-color: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block
}

#container .content p {
    color: #fff;
    font-size: 1.2rem
}

#container .content a{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background-color: #ff0562;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    border-bottom: 4px solid #d00d56
}